/* .ham{
    border: 2px solid red;
    display: none;
}

@media screen and (max-width : 450px) {
    .ham{
        position: absolute;
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-top: 100px;
        left: 0;
    }
    nav{
        display: flex;
        flex-direction: column;
        
    }
    a{
        position: relative;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 20;
        border: 2px solid black;
        color: red;
    }
    .falseFlag{
        display: none;
    }
} */